<li>
	{{burger_name}}

	<button class="changeBlock" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}RE-ORDER!{{else}} DEVOUR!{{/if}}
	</button>
	<button class="delete-me" data-id="{{id}}">DELETE</button>
</li>